<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <img src="{{product.thumbnails}}" alt="{{product.title}}" class="img-fluid">
        </div>
        <div class="col-md-5">
            <h1 class="fs-2 fw-light text-uppercase">{{product.title}}</h1>
            <p class="fs-4 fw-light text-danger">${{product.price}}</p>
            <p>{{product.description}}</p>
            <div class="d-grid my-5">
                <button class="btn btn-dark btn-lg rounded-pill text-uppercase fs-6">Agregar al Carrito</button>
            </div>
        </div>
    </div>
</div>